@model IEnumerable<SurfBoardManager.Models.Board>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container d-flex flex-row flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card w-25 m-1">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <div class="table">
                    <div class="row">
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Width)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Width)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Length)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Length)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Thickness)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Thickness)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Volume)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Volume)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.DisplayNameFor(model => model.BoardType)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.BoardType)
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
