@model IEnumerable<SurfBoardManager.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container d-flex flex-wrap">

    @foreach (var item in Model)
    {
        <div class="card float-start m-1" style="width:18rem">
            <img src="images/klef.png" class="card-img-top img-thumbnail img-fluid" width="100">
            <div class="card-body">
                <div class="">
                <h5 class="card-title">Post @item.Id</h5>
                    <div class="m-1">
                        <div class="text-decoration-underline">
                            @Html.DisplayNameFor(model => model.Price)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Price)
                        </div>
                    </div>
                    <div class="m-1">
                        <div class="text-decoration-underline">
                            @Html.DisplayNameFor(model => model.Equipment)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Equipment)
                        </div>
                    </div>
                    <div class="m-1">
                        <div class="text-decoration-underline">
                            @Html.DisplayNameFor(model => model.Board)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Board.Name)
                        </div>
                    </div>
                    </div>
                <div id="spacer" style="width: 10vw; height: 3vh; margin-right:0px;"></div>
                <div class="btn-group m-2 position-absolute bottom-0">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>